<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs%>
	</head>
	<body>
		<header>
			<% include ../partials/topper.ejs%>
		</header>
		<div id="navbar">
			<% include ../partials/nav.ejs%>
		</div>
		<div id="maincontainer">
			<div id="main_sub">
				<h2>Edit Entry: <%=item.name%></h2>
	      <img src="<%=item.link%>"/>
	      Description: <%=item.body%>
				<% include ../partials/googlemaps.ejs%>
				<h2>entry Attributes:</h2>
				<form action="/items/<%=item._id%>?_method=PUT" method="post">
					<input placeholder="name" type="text" name="name" value="<%=item.name%>"/><br/>
					<input placeholder="link" type="text" name="link" value="<%=item.link%>"/><br/>
					<textarea placeholder="description" name="body"><%=item.body%></textarea><br/>
					<input type="submit" value="Update Item"/>
				</form>
			</div>
		</div>
		<% include ../partials/footer.ejs%>
	</body>
</html>
