<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs%>
	</head>
	<body>
		<header>
			<nav>
				<% include ../partials/nav.ejs%>
			</nav>
			<h2>Edit <%=item.title%></h2>

      <img src="<%=item.link%>"/>
      <%=item.body%>

		</header>
		<main>
			<% include ../partials/googlemaps.ejs%>
			<h2>item Attributes:</h2>
			<form action="/items/<%=item._id%>?_method=PUT" method="post">
				<input placeholder="name" type="text" name="name" value="<%=item.name%>"/><br/>
				<input placeholder="link" type="text" name="link" value="<%=item.link%>"/><br/>
				<textarea placeholder="description" name="body"><%=item.body%></textarea><br/>
				<input type="submit" value="Update Item"/>
			</form>
		</main>
		<% include ../partials/footer.ejs%>
	</body>
</html>
