<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs%>
	</head>
	<body>
		<header>
			<img src="<%=item.link%>"/><br>
      <%=item.body%>
      <br>
			by:
			<a href="/users/<%=user._id%>"><%=user.name%></a>
			<section>
			    <form action="/items/<%=item._id%>?_method=DELETE" method="post">
			        <input type="submit" value="Delete item"/>
			    </form>
			</section>
			<section>
			    <a href="/items/<%=item._id%>/edit">Edit</a>
			</section>
			<nav>
				<ul>
					<% include ../partials/nav.ejs%>
				</ul>
			</nav>
		</header>
		<main>
			<!-- <%=user%> -->
			<section>
				<h2>user Atrributes:</h2>
				<ul>
					<li>Name: <%=user.name%></li>
				</ul>
			</section>
			<section>
				<h2>items by This user:</h2>
				<div class="containerBox">

					<% for(let i=0; i<user.items.length;i++){ %>
						<div class="itemBox">
							<div class="item">
								<a href="/items/<%=user.items[i].id%>">
									<img src="<%=user.items[i].link%>" alt="<%=user.items[i].name%>"/>
								</a>
							</div>
						</div>
					<%}%>
				</div>
			</section>
		</main>
		<% include ../partials/footer.ejs%>
	</body>
</html>
