<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs%>
	</head>
	<body>
		<header>
			<% include ../partials/topper.ejs%>
		</header>
		<div id="navbar">
			<% include ../partials/nav.ejs%>
		</div>
		<div id="maincontainer">
			<div id="main_sub">
					<div id="allinfo">
						Entry name: <%=item.name%><br>
						<img src="<%=item.link%>" alt=""/>
						<br>
			      Description : <%=item.body%>
			      <br><br>
						by : <a href="/users/<%=user._id%>"><%=user.name%></a>
						<br><br>
						Comments : <%=item.comments%>
					</div>
						<br><br><br>
						<section>
						    <a href="/items/<%=item._id%>/edit">Edit entry</a>
						</section>
						<br>
						<section>
						    <form action="/items/<%=item._id%>?_method=DELETE" method="post">
						        <input type="submit" value="Delete entry"/>
										<br><br>
						    </form>
						</section>
					<section>
						<h2>Other entries by <%=user.name%>:</h2>
						<div class="containerBox , displaylist">

							<% for(let i=0; i<user.items.length;i++){ %>
								<div class="itemBox">
									<div class="item">
										<a href="/items/<%=user.items[i].id%>">
											<img src="<%=user.items[i].link%>" alt=""/>
											<%=user.items[i].name%><br>
										</a>
									</div>
								</div>
							<%}%>
						</div>
					</section>
			</div>
		</div>
		<% include ../partials/footer.ejs%>
	</body>
</html>
