<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs%>
	</head>
	<body>
		<header>
			<% include ../partials/topper.ejs%>
		</header>
		<div id="navbar">
			<% include ../partials/nav.ejs%>
		</div>
		<div id="maincontainer">
			<div id="main_sub">

				<h1>Show Page for <%=user.name%></h1>
				<!-- <h2>Name: <%=user.name%></h2> -->


	          <h2>Items owned by <%=user.name%>:</h2>
	          <ul>

	          </ul>


					<a href="/users/<%=user._id%>/edit">Edit Username</a>


					<form action="/users/<%=user._id%>?_method=DELETE" method="POST">
						<input type="submit" value="Delete User"/>
					</form>

			</div>
		</div>
		<% include ../partials/footer.ejs%>
	</body>
</html>
