<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs%>
	</head>
	<body>
		<header>
			<% include ../partials/topper.ejs%>
		</header>
		<div id="navbar">
			<% include ../partials/nav.ejs%>
		</div>
		<div id="maincontainer">
			<div id="main_sub">

				<h1>Show Page for <%=user.name%></h1>
				<!-- <h2>Name: <%=user.name%></h2> -->
				<a href="/users/<%=user._id%>/edit">Edit Username</a>
				<br><br>
				<form action="/users/<%=user._id%>?_method=DELETE" method="POST">
					<input type="submit" value="Delete User"/>
				</form>
				<br>
	          <h2>All entries by <%=user.name%>:</h2>
						<% for(let i=0; i<user.items.length;i++){ %>
							<div class="itemBox">
								<div class="item">
									<a href="/items/<%=user.items[i].id%>">
										<img src="<%=user.items[i].link%>"alt=""/>
										<%=user.items[i].name%><br>
									</a>
								</div>
							</div>
						<%}%>
			</div>
		</div>
		<% include ../partials/footer.ejs%>
	</body>
</html>
